@model IEnumerable<CumulativePart1.Models.Student>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

    <div>
        <a href="/StudentPage/New">Add a New Student</a>
    </div>

    <br>


@foreach (CumulativePart1.Models.Student Student in Model)
{
    <div>
        <a href="/StudentPage/Show/@Student.StudentId">@Student.StudentFName @Student.StudentLName</a>
    </div>
}