<h1>Add a New Student</h1>

<form method="POST" action="/StudentPage/Create">
    <div>
        <label for="StudentFName">First Name:</label>
        <input type="text" name="StudentFName" id="StudentFName" />
    </div>
    <div>
        <label for="StudentLName">Last Name:</label>
        <input type="text" name="StudentLName" id="StudentLName" />
    </div>
    <div>
        <label for="StudentNumber">Student Number:</label>
        <input type="text" name="StudentNumber" id="StudentNumber" />
    </div>
    <div>
        <label for="EnrolDate">Enrol Date:</label>
        <input type="date" name="EnrolDate" id="EnrolDate" />
    </div>
    <div>
        <input type="submit" value="Add a Student"/>
    </div>
</form>
