<h1>Add a New Teacher</h1>

<form method="POST" action="/TeacherPage/Create">
    <div>
        <label for="TeacherFName">First Name:</label>
        <input type="text" name="TeacherFName" id="TeacherFName" />
    </div>
    <div>
        <label for="TeacherLName">Last Name:</label>
        <input type="text" name="TeacherLName" id="TeacherLName" />
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" />
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="date" name="HireDate" id="HireDate" />
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="text" name="Salary" id="Salary" />
    </div>
    <div>
        <input type="submit" value="Add a Teacher"/>
    </div>
</form>
