@model IEnumerable<CumulativePart1.Models.Course>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

    <div>
        <a href="/CoursePage/New">Add a New Course</a>
    </div>

    <br>

@foreach (CumulativePart1.Models.Course CurrentCourse in Model)
{
    <div>
        <a href="/CoursePage/Show/@CurrentCourse.CourseId">@CurrentCourse.CourseCode @CurrentCourse.CourseName</a>
    </div>
}